<h1>Edit a Product in Latte Larry's Inventory</h1>
<em class='warning'>Don't mess with this Mocha Joe.</em>
<div class='videowrapper'>
<%= render "layouts/product_form" %>
</div>
<%= link_to " Back to Products", products_path %>